---
import type { TableColumn, TableRow } from "../../types";
import PageHeader from "../ui/PageHeader.astro";
import DataTable from "./DataTable.astro";

interface Props {
  title: string;
  description: string;
  columns: TableColumn[];
  rows: TableRow[];
  caption: string;
}

const { title, description, columns, rows, caption }: Props = Astro.props;
---

<PageHeader {title} {description} />
<div class="mt-6">
  <DataTable {columns} {rows} {caption} />
</div>
