---
interface Props {
  id: string;
  name?: string;
  label?: string;
  type?: astroHTML.JSX.HTMLInputTypeAttribute;
  placeholder?: string;
  value?: string;
  required?: boolean;
}
const {
  id,
  name = id,
  label,
  type = "text",
  placeholder,
  value,
  required,
}: Props = Astro.props;
---

<label class="block" for={id}>
  {label && <span class="mb-1.5 block text-sm font-medium">{label}</span>}
  <input
    {id}
    {name}
    {type}
    {placeholder}
    {value}
    {required}
    class="w-full rounded-lg border bg-white px-3 py-2 text-sm outline-none transition focus:border-primary focus:ring-2 focus:ring-indigo-100"
  />
</label>
